body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

:root {
  --primary-color: #ff80bf;
  --secondary-color: #ff66a3;
  --background-color: #f9f9f9;
  --text-color: #333;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--secondary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #ff80bf;
    --secondary-color: #ff66a3;
    --background-color: #ffffff;
    --text-color: #213547;
  }
  a:hover {
    color: var(--secondary-color);
  }
  button {
    background-color: var(--background-color);
  }
}

.footer-container {
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  color: #fff;
}

.footer-title {
  color: #fff;
}

.footer-container {
  background-color: #ff80bf;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.footer-title {
  font-size: 2.2em;
  margin-bottom: 20px;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 32px;
  color: #fff;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #164d9e;
}

.header-container {
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header-image {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin-right: 10px;
}

.header-link {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.main-container {
  background-color: #ff80bf;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main-title {
  font-size: 2.2em;
  margin-bottom: 20px;
}

.main-container {
  background-color: #ff80bf;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main-title {
  font-size: 2.2em;
  margin-bottom: 20px;
}

.card {
  margin-top: 20px;
  background-color: #000000;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
  align-self:center;
}

.card-item {
  margin: 8px 0;
}

.main-contact-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;

}

.title {
  color: #ff69b4;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  color: #ff69b4;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border: 1px solid #ff69b4;
  border-radius: 5px;
  margin-bottom: 10px;
}

.textarea {
  padding: 10px;
  border: 1px solid #ff69b4;
  border-radius: 5px;
  height: 100px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #ff1493;
}